[submodule "plugins/syntastic"]
	path = plugins/sources_non_forked/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "plugins/vim-colors-solarized"]
	path = plugins/sources_non_forked/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "plugins/vim-monokai"]
	path = plugins/sources_non_forked/vim-monokai
	url = https://github.com/sickill/vim-monokai
