[submodule "plugins/vim-colors-solarized"]
	path = plugins/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "plugins/syntastic"]
	path = plugins/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule "plugins/vim-monokai"]
	path = plugins/vim-monokai
	url = https://github.com/sickill/vim-monokai
[submodule "plugins/lightline.vim"]
	path = plugins/lightline.vim
	url = https://github.com/itchyny/lightline.vim
