[submodule "plugins/vim-colors-solarized"]
	path = plugins/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "plugins/syntastic"]
	path = plugins/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule "plugins/vim-monokai"]
	path = plugins/vim-monokai
	url = https://github.com/sickill/vim-monokai
[submodule "plugins/vim-better-whitespace"]
	path = plugins/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace
[submodule "plugins/vim-flake8"]
	path = plugins/vim-flake8
	url = https://github.com/nvie/vim-flake8
